/* i given css code */

*{
	background-color: #000;
}
#heading1{
	width: 80%;
	height: 20%;
	border: solid #000 0px;
	text-align: center;
	box-shadow:5px 2px 6px #FFB260;
	background-color: #fff;
	border-radius: 2px;
	margin-left: 70px;
	margin-top:50px;
}
#mainform{
	width: 60%;
	height: 80%;
	background-color:#FFC78B ;
	margin: 200px;
	border-radius: 10px;
	box-shadow:#FFAA00 5px 5px 5px 5px ;
}
#maintabel{
	background-color: #FFC78B;
	border: solid #fff;
	margin-left:70px;
	margin-right: 70px;
	width: 80%;
}
td{
	color: #000;
	background-color: #FFC78B;
	border: solid #fff;
	width: 50%;
}
input{
	background-color: #FFC78B;
}
.someinputs{
	background-color: #FFC78B;
	width: 97%;
	height: 100%;
}
label{
	background-color: #FFC78B;
}
textarea{
	background-color: #FFC78B;
	width: 97%;
	height: 120%;
}
option{
	background-color: #FFC78B;
}
select{
	background-color: #FFC78B;
	width: 100%;
}
#but{
	background-color: #fff;
	text-align: center;
	margin-left:300px;
	margin-bottom: 20px;
	margin-bottom: 10px;
}